Фон

Белый

Убрать все тени и обводки с фото и кнопок

Убрать разделительные линии между блоками

Линии оставить только сверху над и под словом «выпуски»

Слово «выпуски» заменить на слово «Articles»



Лого сверху

Высылаем в приложении



Полосы сверху залить другим цветом

Текст рубрики

Цвет текста из поля «Номер выпуска, отображаемый в приложении» (в нашем случае мы используем его как наименование рубрики, например, People): # 1f7886

Кегль: 14 px



Текст заголовка выпуска

Вчера говорили с Романом, что он обязательно должен отображаться!

Цвет: #1d2129

Кегль: 18 px (font-size:18px), разреженность строк line-height:22px, шрифт жирный



Автор

В идеале нам необходимо также завести поле для введения имени автора. Если не будет такой возможности, придется писать его прямо в заголовке, хотя это будет очень неудобно.

Если получится сделать, то:

Цвет шрифта: #1d2129

Кегль: 16 px (font-size:18px)



Подпись «размер файла», «не закачан», «цена»

Цвет: #9a9da4

Кегль: 14px



Кнопки

Выравниваются относительно нижнего края, так как длина заголовка может быть на одну или две строки, чтобы кнопки потом не прыгали вверх вниз.

После закачки статьи при добавлении кнопки «удалить» обе кнопки «Читать» и «Удалить» выстраиваются в линию, а не одна под одной.

Цвет кнопки: #194e80



Текст анонса статьи

Цвет: #1d2129

Кегль: увеличить до 16 px (font-size:18px)

Увеличить разреженность строк: line-height:22px

Увеличить межбуквенный горизонтальный отступ между буквами: letter-spacing:1px



Также просим все-таки добавить все необходимые splash screen и заменить иконку приложения на ту, что прикреплена к письму. Мы сделали синий цвет чуть светлее, а то на экране он отображается слишком темным.